html {
  color: #2c2c2c;
}

body {
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Limelight", cursive;
  font-size: 80px;
  text-align: center;
  color: gray;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}
h2 {
  font-weight: 300;
}

header {
  float: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/frame.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 25% 15% 5% 16%;
}

img {
  width: 30vmin;
  height: 30vmin;
  box-shadow: 0 0 40px 0px white;
}

div.game-content {
  float: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

input {
  text-transform: uppercase;
  width: 500px;
  height: 38px;
  border: 2px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 300;
}

button {
  width: 100px;
  height: 40px;
  border: 2px;
  border-radius: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
}
#submit {
  margin-left: 1em;
}

/* Progress Bar */
.progbar {
  background-color: grey;
  font-family: "Josefin Sans", sans-serif;
}

#fill {
  width: 11%;
  background-color: green;
  font-size: 20px;
  font-weight: 300;
}
/* End of Progress bar */

/* Film Countdown */
svg {
  display: inline-block;
}

.no-select {
  cursor: default;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#film-countdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 120vmin;
  height: 50vmin;
  margin: 25vmin 34vmin;
  background-color: #dad5c2;
  border-radius: 3vmin;
}

#film-numbers text {
  fill: black;
  font: bold 80px Arial, sans-serif;
  opacity: 0;
}

.circle01 {
  fill: none;
  stroke: #111;
  stroke-width: 1.5px;
}

.circle02 {
  fill: none;
  stroke: rgba(0, 0, 0, 0.3);
  stroke-dasharray: 1 3200;
  stroke-width: 989;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
/* End of Film Countdown */

/* Radio Dial */
.animated-rotate {
  /* rotations */
  animation: rotate 1s 3;
}

#animated-text1 {
  animation: countdown 1s 1;
  animation-delay: 0s;
}

#animated-text2 {
  animation: countdown 1s 1;
  animation-delay: 1s;
}

#animated-text3 {
  animation: countdown 1s 1;
  animation-delay: 2s;
}

@keyframes countdown {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    stroke-dasharray: 3200 0;
  }
}
/* End of Radio Dial */

/* background noise effect */
