html * {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vmin 10vmin 10vmin;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    background-color: pink;




}

main {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    border-radius: 3vmin;


}

footer {
    background-color: blueviolet;
}