html * {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    color: #2c2c2c;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #2c2c2c;
    letter-spacing: .05em;


}

body {
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;
    width: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(transparent, black) #d5d5d5af;
    text-shadow:
        2px 2px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);

}




header {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100%;
    justify-content: center;

    font-size: 72px;
    padding: 80px 50px;
    text-align: center;
    /* Text shadow effect */
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);

}

main {
    display: flex;
    flex-direction: row;
    border-radius: 3vmin;
    height: 50vh;
    justify-content: center;
}

img {
    width: 280px;
    height: 250px;
    padding: 0 40px 0 0;
    align-items: center;

}

/* background noise effect */

body:after {
    animation: grain 8s steps(10) infinite;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.16;
    position: fixed;
    top: -110%;
    width: 300%;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}